<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="form mt-4" [formGroup]="NovoUsuarioForm" (submit)="cadastrar()">
  <div class="form-group">
    <input placeholder="e-mail" class="form-control" formControlName="email"/>

    <app-mensagem **ngIf="novoUsuarioForm.get('email')?.errors?.required && novoUsuarioForm.get('email')?.touched"
     mensagem="email obrigatorio"></app-mensagem>

     <app-mensagem **ngIf="novoUsuarioForm.get('email')?.errors?.email && novoUsuarioForm.get('email')?.touched"
     mensagem="email no formato incorreto"></app-mensagem>

  </div>
  <div class="form-group">
    <input placeholder="Nome Completo" class="form-control" formControlName="fullName"/>
    <app-mensagem *ngIf="novoUsurioForm.get('fullName')?.errors && NovoUsuarioForm.get('fullName')?.touched " mensagem="nome incorreto">

    </app-mensagem>
  </div>
  <div class="form-group">
    <input placeholder="Usuario" class="form-control" formControlName="userName"/>
    <app-mensagem
    **ngIf="novoUsuarioForm.get('userName')?.errors?.minuscula && novoUsuarioForm.get('userName')?.touched"
    mensagem="usuario deve ser com a letra minuscula">
    </app-mensagem>
    <app-mensagem **ngIf="novoUsuarioForm.get('userName')?.errors?.usuarioExistente"  mensagem="Usuario ja Existe">

    </app-mensagem>
  </div>
  <div class="form-group">
    <input type="password" placeholder="senha" class="form-control" formControlName="password"/>
    <app-mensagem
    **ngIf="novoUsuarioForm.errors?.senhaIgualUsuario"
    mensagem="Senha deve ser diferente do usuario">


    </app-mensagem>
  </div>
  <button class="btn btn-primary btn-block">Cadastro</button>
</form>

<p>Já e usuario? <a [routerLink]="['']">Faça Login</a></p>
